body {
    font-family: sans-serif;
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .button {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
  }
  
  
  .active {
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    border: 1px solid #000;
    color: white;
  }